@font-face {
  font-family: "LinLibertine";
  src:
    url("/fonts/linux_libertine/LinLibertine_R.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "LinLibertine Italic";
  src:
    url("/fonts/linux_libertine/LinLibertine_RI.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}